/*
기본     font-family: 'Jua', sans-serif;
얇은 글씨   font-family: 'Noto Sans KR', sans-serif;
영어 포인트     font-family: 'Playfair Display', serif;
*/



html,body{ width:100%; height:100vh;}
.box{ width:100%; height:100%; position:relative;}
*{margin: 0;padding: 0;}
a{
    text-decoration: none;
    color: inherit;
}
ul,ol{
    list-style: none;
}

body{
    font-family: 'Jua', sans-serif;
    font-size: 15px;
    line-height: 20px;
    color: rgb(56, 56, 56);
    min-width: 1350px;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}






#header{
    border-bottom: 1px solid #ccc;
}
#header_inner{
    width: 1320px;
    margin: 0 auto;
}
.gnb>li{
    float: left;
    padding: 10px 30px;
    font-weight: bold;
    margin-top: 15px;
    font-size: 18px;
}
.gnb>li:nth-child(1){
    margin-left: 220px;
}
#header_inner h6{
    float: left;
    padding-top: 10px;
}
.gnb{
    float: left;
}
.gnb>li{
    position: relative;
}
.gnb>li>a{
    padding:  10px;
    padding-bottom: 13px;
    
}
.sub{
    position: absolute;
    left: 0;
    top: 115%;
    width: 100%;
    z-index: 10;
    text-align: center;
    opacity: 0;
    transform: scaleY(0);
    transform-origin:top ;
    border: 1px solid #ccc;
    background-color: white;
}
.sub>li{
    font-size: 14px;
    font-weight: normal;
    padding: 10px 0;
}
.sub>li>a{
    display: block;
}
.gnb>li:hover>.sub{
    opacity: 1;
    transform: scaleY(1);
    transition: all 0.8s;
}
.sub>li:hover{
    color: rgb(104, 104, 104,0.5);
}
.gnb>li:hover>a{
    border-bottom: 3px solid blue;
}
.gnb2>li{
    float: left;
    padding: 25px 20px
}
.gnb2{float: right;}
.gnb2 li:hover{
    transform: scale(1.2);
    transition: all 0.5s;
}





#container_inner{
    width: 1320px;
    margin:  0 auto;
}
.con_img{
    margin-top: 100px;
    width: 800px;
    height: 900px;
    border: 3px solid #000;
    margin-bottom: 100px;
    position: relative;
    overflow: hidden;
    float: left;
    box-sizing: border-box;
}

.mb img{
    width: 60%;
}
.mb_img{
    text-align: center;
}
.mb2{
    width: 500px;
    height: 750px;
    margin-left: 160px;
    margin-top: 20px;
}
.mb2 img{
    width: 100%;
    height: 100%;
}





.con_text{
    float: left;
    width: 520px;
    box-sizing: border-box;
    margin-top: 100px;
    padding-left: 60px;
}
.con_text h2{
    font-size: 20px;
    line-height: 100%;
    
}
.con_text h1{
    font-size: 70px;
    line-height: 100%;
    padding-bottom: 100px;
}
.con_text ul li{
    float: left;
    font-size: 25px;
}
.con_text ul{
    padding-bottom: 50px;
}
.con_t1  li:nth-child(2){
    margin-left: 100px;
    font-size: 20px;
}
.con_t2  li:nth-child(2){
    margin-left: 100px;
    font-size: 20px;
}
.con_t3  li:nth-child(2){
    margin-left: 100px;
    font-size: 20px;
}
.con_0{
    padding-top: 8px;
}
.con_1 a{
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    background-color: white;
    margin-right: 20px;
    border: 2px solid #000;
}
.con_2 a{
    display: inline-block;
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(0, 0, 250);
    border: 2px solid #000;
}



.con_t4{
    padding-top: 50px ;
    padding-bottom: 20px;
    border-bottom: 3px solid #000 ;
}
.con_t4 input{
    width: 60px;
    height: 30px;
    font-size: 20px;
    border: none;
}
.con_t4 button{
    width: 25px;
    height: 25px;
    font-size: 15px;
    margin: 0;
    background-color: white;
    border: 1px solid #ccc;
}


.con_t4 h3{
    font-size: 20px;
    padding-top: 3px;
    margin-right: 180px;
    display: inline-block;
}
.con_t4 h4 {
    float: right;
    font-weight: normal;
    width: 70px;
    height: 30px;
}
.con_t4 h4 input{
    width: 100%;
    font-size: 15px;
}


.total{
    padding-top: 20px;
}
.total li:nth-child(1){
    margin-right: 270px;
    font-size: 30px;
}
.total li:nth-child(3){
    font-size: 35px;
    font-weight: bold;
}



.con_t5{
    margin: 20px 0;
}
.con_t5 li{
    text-align: center;
    padding: 15px 50px;
    border: 1px solid #ccc;
    margin-left: 40px;
}





.label
{
  width: 100%;
  margin: 10px 0 0 0;
  padding: 10px;
  text-align: center;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.elements
{
  border: 1px solid #000;
  padding: 10px;
  border: 1px solid #000;
  width: 100%;
  height: 150px;
  overflow: auto
}
button
{
   margin: 20px;
}








#container2_inner{
    width: 1320px;
    margin: 0 auto;
    margin-top: 100px;
    margin-bottom: 100px;
}
#container2_inner img{
    width: 100%;
}






















#footer{
    background-color: rgba(71,71,71);
    color: rgba(193,193,193);
}
#footer_inner{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 50px;
}
#footer_inner h1{
    padding: 40px 0;
}
.f_box{
    float: left;
}
.f_box ul li{
    float: left;
    padding-bottom: 10px;
    font-size: 20px;
}
.f_box ul li:nth-child(1){
    padding-right: 30px;
}
.f_box p{
    font-size: 14px;
}
.f_box2{
    float: right;
}
.f_box2 ul{
    float: left;
    padding-right: 50px;
    text-align: center;
}
.f_box2 ul li{
    padding-bottom: 5px;
}
.f_box2 ul li:nth-child(3){
    padding-right: 0;
}
.f_box2 ul li:nth-child(1){
    font-size: 20px;
}
.f_box2 ul li:hover{
    color: white;
    font-weight: bold;
}





#footer2{
    color: rgba(71,71,71);
    background-color: rgba(193,193,193);
}
#footer2_inner{
    width: 1320px;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
}
#footer2_inner h6{
    float: left;
}
#footer2_inner ul{
    float: right;
}
#footer2_inner ul li{
    float: left;
    margin: 0 10px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
#footer2_inner ul li a{
    display: block;
    width: 100%;
    height: 100%;
}

#footer2_inner p span{
    padding-right: 20px;
}
#footer2_inner ul li:nth-child(4){
    padding-right: 0;
}
#footer2_inner p{
    padding-bottom: 5px;
    font-size: 14px;
}


.f_img1{
    background-image: url("code_img/instagram.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px;
}
.f_img1:hover{
    background-image: url("code_img/premium-icon-instagram-4494488.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px;
    transition: all 0.5s;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.7);
}
.f_img2{
    background-image: url("code_img/facebook.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px;
}
.f_img2:hover{
    background-image: url("code_img/free-icon-facebook-5968764.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px;
    transition: all 0.5s;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.7);
}.f_img3{
    background-image: url("code_img/youtube.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px;
}
.f_img3:hover{
    background-image: url("code_img/premium-icon-youtube-3670147.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px;
    transition: all 0.5s;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.7);
}
.f_img4{
    background-image: url("code_img/kakao-talk (1).png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px;
}
.f_img4:hover{
    background-image: url("code_img/kakao-talk.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 40px;
    transition: all 0.5s;
    box-shadow: 8px 8px 8px rgba(0,0,0,0.7);
}
.up_down2{
    display: block;
    position: fixed;
    bottom:  30px;
    right: 50px;
    border: 1px solid #ccc;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    width: 50px;
    height: 50px;
    text-align: center;
    box-shadow: 1px 3px 1px rgba(0,0,0,0.3);
    opacity: 0;
}
.up_down2 img{
    margin-top: 13px;
}
.up_down2:hover{
    transform: translateY(-5px);
    transition: all 0.5s;
}